*{
    text-decoration: none;
  }
  
  .App-header {
    background-color: #ffff;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
  
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .nav-space {
    height: 100px;
  }
  
  .spinner {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  /* ------------------ NAV ------------------ */
    /* PC */
  .r-link{
    display: var(--rLinkDisplay, inline-flex) !important;
  }
  
  .r-link[href]{
    color: var(--rLinkColor) !important;
    text-decoration: var(--rLinkTextDecoration, none) !important;
  }
  
  .r-list{
    padding-left: var(--rListPaddingLeft, 0) !important;
    margin-top: var(--rListMarginTop, 0) !important;
    margin-bottom: var(--rListMarginBottom, 0) !important;
    list-style: var(--rListListStyle, none) !important;
  }

  .menu__link:focus{
    font-weight: 600;
  }


  .menu:hover .menu__link:not(:hover){
    --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));
  }

  
  .menu{
    background-color: var(--menuBackgroundColor, #f0f0f0);
    box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
    z-index: 1;
    position: fixed;
    width: 100%;
  }
  
  .menu__list{
    display: flex;  
  }
  
  .menu__link{
    padding: var(--menuLinkPadding, 1.5rem 2.5rem);
    font-weight: 300;
    text-transform: uppercase;
  }


  .text-underlined{
    position: relative;
    overflow: hidden;
  
    will-change: color;
    transition: color .25s ease-out;  
  }
  
  .text-underlined::before, 
  .text-underlined::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);
  
    will-change: width;
    transition: width .1s ease-out;
  
    position: absolute;
    bottom: 0;
  }
  
  .text-underlined::before{
    left: 50%;
    transform: translateX(-50%); 
  }
  
  .text-underlined::after{
    right: 50%;
    transform: translateX(50%); 
  }
  
  .text-underlined:hover::before, 
  .text-underlined:hover::after{
    width: 100%;
    transition-duration: .2s;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
  }
  
  .nav-item-wallet{
    padding: 15px;
    display: flex;
    justify-content: flex-end;

  }
  
  .iconify-wallet{
    content: url('https://api.iconify.design/simple-icons:riotgames.svg?height=24');
    vertical-align: -0.125em;
    margin-right: 10px;
  }

  .nav-button {
    display: flex;
    height: 40px;
  }

  .iconify-burger{
    content: url('https://api.iconify.design/radix-icons:hamburger-menu.svg?height=15');
    vertical-align: -0.125em;
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
  }

  .iconify-login{
    content: url('https://api.iconify.design/bx:bx-log-in.svg?color=%23ffff&height=24');
    vertical-align: -0.125em;
    display: flex;
  }

  .iconify-logout{
    content: url('https://api.iconify.design/bx:bx-log-out.svg?color=%23ffff&height=24');
    vertical-align: -0.125em;
    display: flex;
  }

  .iconify-cross{
    content: url('https://api.iconify.design/akar-icons:cross.svg?height=24');
    vertical-align: -0.125em;
    display: none;
    width: 30px;
    height: 30px;
  }

  #burger{
    display: none;
  }

  #cross{
    display: none;

  }

  /* ------------------ HOMEPAGE ------------------ */
  .btn-home{
    display: flex;

  }

  .div-home-0 {
    height: (100vh - 65px);
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .div-home-1 {
    display: flex;
    justify-content: center;
  }

  .div-home-btn{
    display: flex;
    flex-direction: column;
    height: 50px;
  }
  
  .div-home-2 {
    width: 1000px;
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 0px 30px 13px 30px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 10px 10px #66f2d5;

  }

  .div-home-2-bis {
    width: 1000px;
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 0px 30px 13px 30px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 10px 10px #66f2d5;

}
  
  .div-home-2 h2 {
    height: 70px;
    width: 938px;
    z-index: 1;
    position: fixed;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 30px;
    background-color: #ffff;
    outline: 0;
    border-bottom: solid;
    border-color: black;
  }

  .div-home-2-bis h2 {
    height: 70px;
    width: 938px;
    z-index: 1;
    position: fixed;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 30px;
    background-color: #ffff;
    outline: 0;
    border-bottom: solid;
    border-color: black;
  }
  
  .h2-place {
    height: 70px;
    background-color: #ffff;

  }
  
  .div-match-0 {
    background-color: rgba(0, 0, 0, 0);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: ridge;
    padding: 50px;
  
  }
  
  .div-game-info{
    display: flex;
    font-size: 13px;
  }
  
  .matchbis-form {
    display: flex;
    justify-content: space-around;
  }
  
  .iconify-play{
    content: url('https://api.iconify.design/clarity:play-line.svg?height=16');
    vertical-align: -0.125em;
  }

  .iconify-refresh{
    content: url('https://api.iconify.design/clarity:refresh-line.svg?height=16');
    vertical-align: -0.125em;
  }

  .iconify-enter{
    content: url('https://api.iconify.design/fluent:arrow-enter-left-20-regular.svg?height=20');
    vertical-align: -0.125em;
  }
  
  /* ------------------ SHOP ------------------ */
  
  .div-shop {
    display: flex;
    justify-content: center;  
    margin-top: 20px;
  }
  
  .div-shop-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 0px 30px 13px 30px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 10px 10px #ffe54c;
  
  }
  
  .div-shop-product {
    display: flex;
    flex-direction: column;
    align-content: center;
  
  }
  
  .div-shop-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  
  }
  
  .iconify-shop {
    content: url('https://api.iconify.design/simple-icons:riotgames.svg?height=24');
    vertical-align: -0.125em;
    display: flex;
    align-self: center;
    margin-top: 5px;
    width: 100px;
    height: 100px;
  }



  /* ------------------ PROFILE ------------------ */
  
  .profile-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
  }
  
  .div-profile-0 {
    width: 96%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 0px 30px 13px 30px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 10px 10px #ffe54c;

  
    
  
  }
  
  .div-profile-1 {
    width: 600px;
    height: 500px;
  
  }
  
  .div-profile-2 {
    width: 750px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .div-profile-info {
    padding: 5px;
    color: #000;
    border-bottom: ridge;
  }
  
  .profile-img {
    border-radius: 300px ;
    width: 500px;
    height: 500px;
  }
  
  /* ------------------ TEAMS ------------------ */
  
  .teams{
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 350px 350px 350px;
  
  }
  
  .div-team-1  {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 0px 30px 13px 30px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 10px 10px #dcbaff;
  }
  
  .div-team-1:hover {
    background-color: #f0f0f0;
    color: black;
  }
  
  .add-team-img {
    width: 60px;
    height: 60px;  
  }

  .iconify-plus{
    content: url('https://api.iconify.design/fluent:people-team-add-24-filled.svg?height=24');
    vertical-align: -0.125em;
  }
  
  .div-team-description {
    padding-top: 5px;
  
  }
  
  .teamcard {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 0px 30px 13px 30px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 10px 10px #dcbaff;
  }
  
  .teamcard-info {
    display: flex;
    justify-content: space-between;
  
  }
  
  .teamcard-list{
    list-style: none ;
    font-size: medium;
  }
  
  .teamcard-list li {
    margin-top: 5px;
  }

  .addplayer-pseudo{
    border-bottom: inset;
  }

  .iconify-team-cross{
      content: url('https://api.iconify.design/akar-icons:cross.svg?height=24');
      vertical-align: -0.125em;
      width: 30px;
      height: 30px;
  }
  
  /* ------------------ FORM CREATE TEAM/MATCH ------------------ */
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  
  .form-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .div-home-2-form {
    width: 700px;
    height: 500px;
    border-width: 5px;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 0px 30px 13px 30px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 10px 10px #66f2d5;
  }

  .div-home-2-teamform {
    width: 700px;
    height: 500px;
    border-width: 5px;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 0px 30px 13px 30px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 10px 10px #dcbaff;
  }
  

  .addplayer-id {
    overflow: hidden;
    overflow-y: scroll;
    height: 120px;

  }

  .form-button{
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }

  /* ----- BUTON ----- */

  .slide {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 30px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    margin: 50px;
    font-family: inherit;
    box-shadow: 10px 10px #66f2d5;
  }

  .btn-2, .btn-3, .btn-4{
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }

  .btn-2{
    width: 40px;
    height: 30px;
  }
  .btn-3{    
    width: 40px;
    height: 40px;
  }

  .btn-4{
    width: 110px;
    height: 30px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-3:hover, .btn-2:hover, .btn-4:hover, .slide:hover, .form-button:hover, .iconify-enter:hover{    
    background-color: #f0f0f0;
  }
  
  .btn-team-cross{
    width: 10px;
    height: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }
  

/* --------------------------- MOBILE ---------------------------*/
@media only screen and (max-width: 375px) {

  /* ---- NAVBAR ---- */
  .nav-space{
    display: none;
  }
      
  .menu{
    background-color: var(--menuBackgroundColor, #f0f0f0);
    box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
    z-index: 1;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 90%;
    transition: 0.5s;
    z-index: 3;
  }
          
  .menu__list{
    display: flex;
    flex-direction: column;
  }
          
  .menu__link{
    padding: var(--menuLinkPadding, 1.5rem 2.5rem);
    font-weight: 150;
    text-transform: uppercase;
  }
      
  .iconify-burger{
    content: url('https://api.iconify.design/radix-icons:hamburger-menu.svg?height=15');
    vertical-align: -0.125em;
  }
      
  #burger{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
  }
      
  #cross{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
  }

    /* ---- HOME ---- */

    .div-home-0 {
      height: (100vh - 65px);
      display: flex;
      flex-direction: column;
    }

    .div-home-2, .div-home-2-bis {
      width: 355px;
      height: 520px;
      padding: 0px;
      font-size: 13px;
      margin: 5px;

    }

    .div-home-2 h2, .div-home-2-bis h2 {
      height: 70px;
      width: 353px;
      font-size: 30px;
    }

    .div-home-btn {
      height: 80px;
      display: flex;
      flex-direction: row;
      margin-top: 1%;
    }

    .div-match-0 {
      background-color: transparent;
      height: 100px;
      justify-content: space-between;
      align-items: center;
      border-bottom: ridge;
      padding: 15px;
      flex-direction: column;
    }

    .slide {
      padding: 0px;
      margin: 20px;
      font-family: inherit;
      box-shadow: 10px 10px #66f2d5;
    }

    .form-button, .slide {
      font-size: 13px;
      padding: 6px;
    }
    /* ---- PROFILE ---- */

    .profile-container{
      display: flex;
      justify-content: unset;
      margin-top: 10%;
    }
    .div-profile-0 {
      width: 355px;
      height: 590px;
      display: flex;
      flex-direction: column;
      padding: 0px;
      margin: 5px;

    }

    .div-profile-1 {
      width: 355px;
      height: 250px;
      display: flex;
      justify-content: center;
      padding: 20px;
    }

    .profile-img {
      border-radius: 300px;
      width: 200px;
      height: 200px;
    }

    .div-profile-info {
      padding: 5px;
      color: #000;
      border-color: none;
      border-bottom: ridge;
    }

    .div-profile-2 {
      width: 355px;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 13px;
    }

    .div-profile-info .btn-2 {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
    /* ---- CREATE MATCH ---- */
  
    .div-home-1 {
      display: block;
      margin-top: 5%;
    }
    .div-home-2-form, .div-home-2-teamform {
      width: 355px;
      height: 590px;
      font-size: 13px;
      padding: 0;
      margin: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .form, .form-item {
      width: 300px;
    }

    /* ---- TEAMS ---- */

    .teams {
      margin-top: 10%;
      display: flex;
      flex-direction: column;
    }

    .div-team-1 {
      width: 355px;
      height: 50px;
      font-size: 13px;
      padding: 0;
      margin: 5px;
      margin-bottom: 20px;
    }

    .add-team-img{
      display: none;
    }

    .team{
      margin: 5px;
      margin-bottom: 20px;
    }

    .teamcard-list {
      font-size: 13px;
    }

    .btn-4 {
      width: 80px;
      font-size: 13px;
    }

    .teamcard {
      width: 355px;
      height: 300px;
    }

    /* ---- SHOP ---- */

    .div-shop{
      display: block;
      margin-top: 10%;
    }

    .div-shop-container {
      width: 355px;
      height: 250px;
      font-size: 13px;
      padding: 0 ;
      margin: 5px;
    }

}