*{
    text-decoration: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
  
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .nav-space {
    height: 100px;
  }
  
  .spinner {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  /* ------------------ NAV ------------------ */
    /* PC */
  .r-link{
    display: var(--rLinkDisplay, inline-flex) !important;
  }
  
  .r-link[href]{
    color: var(--rLinkColor) !important;
    text-decoration: var(--rLinkTextDecoration, none) !important;
  }
  
  .r-list{
    padding-left: var(--rListPaddingLeft, 0) !important;
    margin-top: var(--rListMarginTop, 0) !important;
    margin-bottom: var(--rListMarginBottom, 0) !important;
    list-style: var(--rListListStyle, none) !important;
  }

  .menu__link:focus{
    font-weight: 600;
  }


  .menu:hover .menu__link:not(:hover){
    --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));
  }

  
  .menu{
    background-color: var(--menuBackgroundColor, #f0f0f0);
    box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
    z-index: 1;
    position: fixed;
    width: 100%;
  }
  
  .menu__list{
    display: flex;  
  }
  
  .menu__link{
    padding: var(--menuLinkPadding, 1.5rem 2.5rem);
    font-weight: 300;
    text-transform: uppercase;
  }


  .text-underlined{
    position: relative;
    overflow: hidden;
  
    will-change: color;
    transition: color .25s ease-out;  
  }
  
  .text-underlined::before, 
  .text-underlined::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);
  
    will-change: width;
    transition: width .1s ease-out;
  
    position: absolute;
    bottom: 0;
  }
  
  .text-underlined::before{
    left: 50%;
    transform: translateX(-50%); 
  }
  
  .text-underlined::after{
    right: 50%;
    transform: translateX(50%); 
  }
  
  .text-underlined:hover::before, 
  .text-underlined:hover::after{
    width: 100%;
    transition-duration: .2s;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
  }
  
  .nav-item-wallet{
    padding: 15px;
    display: flex;
    justify-content: flex-end;

  }
  
  .iconify-wallet{
    content: url('https://api.iconify.design/grommet-icons:money.svg?height=24');
    vertical-align: -0.125em;
    margin-right: 10px;
  }

  .nav-button {
    display: flex;
    height: 40px;
  }

  .iconify-burger{
    content: url('https://api.iconify.design/radix-icons:hamburger-menu.svg?height=15');
    vertical-align: -0.125em;
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
  }

  .iconify-login{
    content: url('https://api.iconify.design/bx:bx-log-in.svg?color=%23ffff&height=24');
    vertical-align: -0.125em;
    display: flex;
  }

  .iconify-logout{
    content: url('https://api.iconify.design/bx:bx-log-out.svg?color=%23ffff&height=24');
    vertical-align: -0.125em;
    display: flex;
  }

  .iconify-cross{
    content: url('https://api.iconify.design/akar-icons:cross.svg?height=24');
    vertical-align: -0.125em;
    display: none;
    width: 30px;
    height: 30px;
  }

  #burger{
    display: none;
  }

  #cross{
    display: none;

  }

      /* MOBILE */
  @media only screen and (max-width: 375px) {
    .nav-space{
      display: none;
    }

    .iconify-burger{
      display: block;
    }

    .menu{
      background-color: var(--menuBackgroundColor, #f0f0f0);
      box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
      z-index: 1;
      position: fixed;
      right: 0;
      top: 0;
      width: 0;
      height: 80%;
      transition: 0.5s;
    }
    
    .menu__list{
      display: flex;
      flex-direction: column;
    }
    
    .menu__link{
      padding: var(--menuLinkPadding, 1.5rem 2.5rem);
      font-weight: 150;
      text-transform: uppercase;
    }

    .iconify-burger{
      content: url('https://api.iconify.design/radix-icons:hamburger-menu.svg?height=15');
      vertical-align: -0.125em;
    }

    #burger{
      display: flex;
      justify-content: flex-end;
      padding: 5px;
    }

    #cross{
      display: flex;
      justify-content: flex-end;
      padding: 5px;
    }

  }
  
  

  
  /* ------------------ HOMEPAGE ------------------ */
  
  .div-home-0 {
    height: (100vh - 65px);
    display: flex;
    justify-content: space-around;


    
  }
  
  .div-home-1 {
    display: flex;
    justify-content: center;
  }
  
  .div-home-2 {
    background-color: #13151a;
    width: 700px;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    border: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    box-shadow: 5px 5px 10px 5px #13151a;
  }

  .div-home-2-bis {
    background-color: #13151a;
    width: 500px;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    border: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    box-shadow: 5px 5px 10px 5px #13151a;

}
  
  .div-home-2 h2 {
    z-index: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: black;
    width: 695px;
    height: 50px;
  }

  .div-home-2-bis h2 {
    z-index: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: black;
    width: 495px;
    height: 50px;
  }
  
  .h2-place {
    height: 50px;
  }
  
  .div-match-0 {
    background-color: #13151a;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-color: black;
    padding: 50px;
  
  }
  
  .div-game-info{
    display: flex;
    font-size: 13px;
  }

  .matchbis-button {
    width: 40px;
    height: 40px;
  }
  
  .matchbis-form {
    display: flex;
    justify-content: space-around;
  }
  
  
  /* ------------------ SHOP ------------------ */
  
  .div-shop {
    display: flex;
    justify-content: center;  
  }
  
  .div-shop-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
    padding: 15px;
  
    background-color: #13151a;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px #13151a;
  
  }
  
  .div-shop-product {
    display: flex;
    flex-direction: column;
    align-content: center;
  
  }
  
  .div-shop-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
  
  }
  
  .sailing-coin-img {
    display: flex;
    align-self: center;
    width: 100px;
    height: 100px;
  }
  
  #checkout-button {
    border-radius: 10px;
    background-color: white;
    border: none;
    
  }
  
  #checkout-button:hover {
    background-color: rgb(139, 139, 139);
  
  }
  
  /* ------------------ PROFILE ------------------ */
  
  .profile-container {
    display: flex;
    justify-content: center;
  
  }
  
  .div-profile-0 {
    width: 96%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #13151a;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px #13151a;
    padding: 20px;
  
    
  
  }
  
  .div-profile-1 {
    width: 600px;
    height: 500px;
  
  }
  
  .div-profile-2 {
    width: 750px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .div-profile-info {
    background-color: white;
    padding: 5px;
    color: #000;
    border-radius: 10px;
  }
  
  .profile-img {
    border-radius: 300px ;
    width: 500px;
    height: 500px;
  }
  
  /* ------------------ TEAMS ------------------ */
  
  .teams{
    padding-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
  
  }
  
  .div-team-1  {
    background-color: #13151a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px #13151a;
  }
  
  .add-team {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 300px;
    border: solid;
    border-color: white;
    background-color: white;
  }
  
  .add-team:hover {
    border-color: rgb(139, 139, 139);
    background-color: rgb(139, 139, 139);
  }
  
  .add-team-img {
    width: 60px;
    height: 60px;
  
  }
  
  .div-team-description {
    padding-top: 5px;
  
  }
  
  .teamcard {
    background-color: #13151a;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px #13151a;
  }
  
  .teamcard-info {
    display: flex;
    justify-content: space-between;
  
  }
  
  .teamcard-list{
    list-style: none ;
    font-size: medium;
  }
  
  .teamcard-list li {
    margin-top: 5px;
  }
  
  /* ------------------ FORM CREATE TEAM/MATCH ------------------ */
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  
  .form-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .div-home-2-form {
    background-color: #13151a;
    width: 700px;
    height: 500px;
    border-width: 5px;
    box-shadow: 5px 5px 10px 5px #13151a;
    border-radius: 10px;
  }

  .addplayer-id {
    overflow: hidden;
    overflow-y: scroll;
    height: 120px;

  }