.teamcard {
    background-color: #13151a;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.teamcard-info {
    display: flex;
    justify-content: space-between;

}

.teamcard-list{
    list-style: none ;
    font-size: medium;
}

.teamcard-list li {
    margin-top: 5px;
}


